<% if @cupboard.errors.any? %>
<br><br>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@cupboard.errors.count, "error") %>.
    </div>
    <ul>
    <% @cupboard.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>