<% provide(:title, @cupboard.name) %>
<div class="row">
  <aside class="col-md-4">
      <h1>
      	<br><br>
        <%= @cupboard.name %><br><br>

         <% @cupboard.items.each do |item| %>
         	<li><%= link_to item.name, item_url(item) %></li>
         <% end %>
      </h1>
  </aside>
</div>