<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>

<div class="page-container">

<h2>Sign up</h2><br>

<div class="form-container">

    <%= render 'form' %>

</div>

</div>