<% provide(:title, 'Order history list') %>
<h1>Order history</h1>

<%= will_paginate %>

<ul class="users">
<% if current_user.admin == false %>

  <%= render @all_user_items %>
<% else %>
  <%= render @user_items %>
<% end %>
</ul>
 
<%= will_paginate %>
