<% provide(:title, @item.name) %>
<div class="row">
  <aside class="col-md-4">
      <h1>
      	<br><br>
        <%= @item.name %><br><br>
        

        <%= @item.cupboard.name %>


      </h1>
  </aside>
</div>